.MuiButton-root {
  font-family: $body-font !important;
}
.MuiToggleButton-root {
  font-family: $body-font !important;
}
.MuiInputBase-input {
  font-family: $body-font !important;
}
button {
  font-family: $body-font !important;
}
