.MuiButton-root {
  font-family: $body-font !important;
}
.MuiToggleButton-root {
  font-family: $body-font !important;
  &.Mui-selected {
    color: #FFF !important;
    background-color: $blue !important;
  }
}
.MuiButton-containedPrimary {
  color: $white !important;
  background-color: $blue !important;
  a, a:hover, a:visited {
    color: $white !important;
  }
}
.MuiInputBase-input {
  font-family: $body-font !important;
}
button {
  font-family: $body-font !important;
}
