{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    [
      "env",
      {
        "targets": {
          "browserslist": [
            ">0.2%",
            "not dead",
            "not op_mini all",
            "ie": "11"
          ],
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-proposal-class-properties",
      ]
    }
  }
}
