a {
  color: $link-color;
  background-color: transparent;
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    color: darken($link-color, 10%);
  }

  &:active {
    background-color: transparent;
  }

  &:visited {
    color: $link-color;
  }
}
