a {
  color: $link-color;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid rgba($black, 0.25);

  &:focus,
  &:hover,
  &:active {
    color: darken($link-color, 10%);
  }

  &:active {
    background-color: transparent;
  }

  &:visited {
    color: $link-color;
  }
}
