body {
  position: relative;
  color: $body-color;
  background-color: $body-bg;
  line-height: 1.4;

  font: {
    size: $base-font-unit;
    family: $body-font;
    weight: $default-font-weight;
  };
}
