// Base colors
$black: #000;
$white: #fff;

// Color palette
$red: #ff3e3e;
$orange: #e79531;
$yellow: #ffe13d;
$green: #35a744;
$blue: #3067c0;
$purple: #d822ec;

// Theme colors
$primary-color: $green;
$secondary-color: darken($green, 10%);

// Area colors
$header-bg: $white;
$footer-bg: #151829;
$body-bg: $green;

// Font colors
$body-color: #111;
$heading-color: #151829;
$link-color: darken($green, 5%);
$dark-bg-color: #f8fafb;

// Context colors
$negative-color: darken($red, 10%);
$warning-color: $orange;
$positive-color: lighten($blue, 10%);
$ignore-color: #869ca8;
$disabled-color: rgba($black, 0.25);
