// Base colors
$black: #000;
$white: #fff;
$medium-grey: #aaa;

// Color palette
$red: #ff3e3e;
$orange: #e79531;
$yellow: #ffe13d;
$green: #35a744;
$blue: #006ab6;
$purple: #d822ec;
$pink: #CF0C4A;

// Theme colors
$primary-color: $blue;
$secondary-color: darken($blue, 10%);

// Area colors
$header-bg: $white;
$footer-bg: #151829;
$body-bg: $blue;

// Font colors
$body-color: #111;
$heading-color: #151829;
$link-color: darken($blue, 5%);
$dark-bg-color: #f8fafb;

// Context colors
$negative-color: darken($red, 10%);
$warning-color: $orange;
$positive-color: lighten($blue, 10%);
$ignore-color: #869ca8;
$disabled-color: rgba($black, 0.25);
