h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  line-height: 1.4;
  margin: 0.5em 0 1em;

  font: {
    family: $heading-font;
    weight: $default-font-weight;
  };
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .8em;
}

h6 {
  font-size: .5em;
}
