*[type="text"],
*[type="search"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: 1px solid $primary-color;
  border-radius: 0.125rem;
  color: $body-color;
  background-color: rgba($white, 0.9);
  padding: 0.25em 0.5em;
  max-width: 100%;
  min-width: 14em;

  font: {
    size: 1rem;
    family: $body-font;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }

  &:disabled {
    background-color: $disabled-color;
  }

  &.error {
    border: 1px solid $negative-color;
  }

  &.warning {
    border: 1px solid $warning-color;
  }
}

textarea {
  resize: vertical;
}

label[for] {
  cursor: pointer;
}
