@font-face {
  src: "../../fonts/FiraSans-Regular" format("ttf");
  font: {
    family: "FiraSans";
    weight: 400;
  }
}

@font-face {
  src: "../../fonts/FiraSans-Bold" format("ttf");
  font: {
    family: "FiraSans";
    weight: 700;
  }
}

$heading-font: "FiraSans", arial, sans-serif;
$body-font: "FiraSans", arial, sans-serif;

$base-font-unit: 16px;
$default-font-weight: 400;
$bold-font-weight: 700;
