.category {
  &__container {
    margin-bottom: 1rem;
  }
  &__header {
    margin-bottom: 0.5rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    width: 50%;
    flex-grow: 0;
    padding: 0.3em;
    @media only screen and (min-width: 767px) {
      width: 33%;
    }
  }
  &__button {
    width: 100%;
    height: 100%;
    display: inline-block;
    min-height: 2rem;
    border: 1px solid $pink !important;
    padding: 0.5em !important;
    .card {
      height: 100%;
    }
    &.selected {
      background-color: $pink;
      color: $white;
    }
  }
}

.category-expansion-panel {
  border: 1px solid $medium-grey;
}
