.category {
  &__container {
    margin-bottom: 1rem;
  }

  &__button {
    font-size: 1rem;
    margin: 0 .5rem .25rem 0;

    &.selected {
      background-color: $primary-color;
      color: rgba($white, .9);
    }
  }
}
