.icon-prefix {
  &__container {
    display: flex;
    justify-content: flex-start;
    word-break: break-word;
  }

  &__icon {
    display: inline-block;
    width: 1rem;
    margin-right: 0.5rem;
    text-align: center;
    color: $secondary-color;
  }
}
