.radio-group {
  color: $body-color;
  margin: 0 0 1em;
  font-family: Helvetica, sans-serif;
  width: fit-content;

  .radius-button {
    @extend .button;
    padding: .75rem;
    font-size: 1rem;
    margin: .25rem .5rem .25rem 0;

    &.is-selected {
      background-color: $primary-color;
      color: rgba($white, .9);
      padding: .75rem;
    }
  }
}
