@media only screen and (max-width: 767px) {
  .radio-group {
    color: $body-color;
    margin: 0 0 1em;
    font-family: Helvetica, sans-serif;

    fieldset > label {
      padding-left: .75em;
      padding-right: .75em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .radio-group {
    color: $body-color;
    margin: 0 0 1em;
    font-family: Helvetica, sans-serif;

    fieldset > label {
      padding-left: .5em;
      padding-right: .5em;
    }
  }
}
