.radio-group {
  color: $body-color;
  margin: 0 0 1em;
  font-family: Helvetica, sans-serif;
  width: fit-content;

  .radius-button {
    padding: .75rem;

    &--selected {
      background-color: $primary-color;
      color: rgba($white, .9);
      padding: .75rem;
    }  
  }
}

