.radio-group {
  color: $body-color;
  margin: 0 0 1em;
  font-family: Helvetica, sans-serif;
  width: fit-content;

  .radius-button {
    &--selected {
      background-color: $primary-color;
      color: rgba($white, 0.9);
    }
  }
}

