.search {
  &__addressLabel {
    display: block;
    text-indent: -9999px;
    height: 0;
  }

  &__container {
    button {
      font-size: 1rem;
      margin: .25rem .5rem .25rem 0;
    }
  }

  &__section {
    margin-bottom: 1rem;
  }

  &__magnifying-glass {
    background-image: url('../img/magnifying-glass.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 1.75rem;
    width: 1.75rem;
    position: absolute;
    bottom: -.25rem;
    text-indent: -9999px;
  }
}

.react-autosuggest__label, .small-label {
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

.MuiTextField-root {
  width: 100%;
}
