.search {
  &__addressLabel {
    display: block;
    text-indent: -9999px;
    height: 0;
  }

  &__container {
    button {
      font-size: 1rem;
      margin: .25rem .5rem .25rem 0;
    }
  }

  &__section {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.react-autosuggest__label, .small-label {
  font-size: 0.9em;
   font-weight: bold;
   margin-bottom: 0.2em;
}

.MuiTextField-root {
  width: 100%;
}
