.service {
  padding: 1rem 0;
  border-bottom: 0.125rem solid rgba($black, 0.1);

  &:last-of-type {
    border: 0;
  }

  &__container {
    border: 0.125rem solid rgba($black, 0.1);
    padding: 1rem;
  }

  &__header,
  &__address {
    margin-bottom: 1rem;
  }

  &__name {
    color: $primary-color;
  }

  &__purpose {
    margin: 0 0 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-left: 0.125rem solid $secondary-color;
    white-space: pre-wrap;

    &--truncatable {
      @media only screen and (max-width: 767px) {
        overflow: scroll;
        max-height: 18rem;
      }
    }
  }

  &__page {
    .back-button {
      display: inline-block;
    }
  }
}
