.sharebar {
  padding: 0 0 2rem;
  margin-top: 1em;

  p,
  ul {
    display: inline-block;
    margin: 0.2em 0;
  }
  p {
    margin-right: 1em;
  }
}

.service-info .sharebar {
  padding-bottom: 0;
  margin-top: 2em;
}

.sharebar-share {
  margin-left: 1rem;
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: 1rem;
    position: relative;
  }

  a {
    text-decoration: none;
    padding-left: 1.5em;
    color: $body-color;
  }

  svg {
    height: 1em;
    width: 1em;
    position: absolute;
    left: 0;
    top: 0.15em;
  }
}
